/*demo panel*/

.theme_panel_light {
    position: fixed;
    padding: 0;
    display: block;
    top: 600px;
    right: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border-radius: 50%;
}

.theme_panel_dark {
    position: fixed;
    padding: 0;
    display: block;
    top: 600px;
    right: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #000;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border-radius: 50%;
}

.theme_panel_green {
    position: fixed;
    padding: 0;
    display: block;
    top: 600px;
    right: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border-radius: 50%;
}

.theme_panel a .ion {
    font-size: 20px;
    line-height: 40px;
    color: #000;
    animation-name: settings;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.theme_panel_dark a .ion {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    animation-name: settings;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.theme_panel_green a .ion {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    animation-name: settings;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes settings {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}